{% extends 'common/base.html' %} 
{% load static %} 

{% block title %}directions/contact{% endblock %} 

{% block directionscontact %}active{% endblock %} 

{% block content %}
<div class="container-fluid nopad pagefade">
  <div class="row no-gutters title">
    <div class="col-10 offset-1 col-md-4 offset-md-0 col-lg-4 offset-lg-0 col-xl-3" style="display: flex; height: 100vh">
      <h1 class="display-4 black-text animated fadeInLeft section-title align-self-center" style="font-size:2.5rem;">directions/contact
      </h1>
    </div>
    <div class="col-10 offset-1 col-md-6 offset-md-1 col-lg-7 offset-lg-0 col-xl-8 animated fadeInRight content">
      <br><br><br>
      <p class="text-center">For inquiries, please contact the lab at <a href="mailto:gratton.laboratory@gmail.com" style="white-space:nowrap;">gratton.laboratory@gmail.com</a>
      </p>
      <p class="text-center">If you are interested in joining our lab as an Undergraduate Research Assistant, please fill out <a href="https://forms.gle/fvcn5cFuGebqsg1z9" style="white-space:nowrap;">this</a> form
      </p>
      <p class="text-center">You can read a statement on our lab values <a href="https://www.grattonlab.org/values" style="white-space:nowrap;">here</a>.
      </p>
      <p class="text-center">Our lab is located at:
      </p>
      <p class="text-center">Psychology Department Building A321
        <br>
        1107 W Call St
        <br>
        Tallahassee, FL 32306
      </p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1750.9913885041638!2d-84.30532724482012!3d30.445383644730725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88ecf506616926e5%3A0x7bf5bfb07c177869!2sPsychology%20Dept%20Bldg%2C%201107%20W%20Call%20St%2C%20Tallahassee%2C%20FL%2032304!5e1!3m2!1sen!2sus!4v1661447524983!5m2!1sen!2sus">
        </iframe>
      </div>
      <br><br><br>
    </div>
  </div>
</div>
<p>
  {% endblock %} 
  {% block scripts %} 
  {% endblock %}
</p>
