{% extends 'common/base.html' %}
{% load staticfiles %}

{% block title %}values{% endblock %}

{% block directionscontact %}active{% endblock %}

{% block content %}
<div class="container-fluid nopad pagefade">
    <div class="row no-gutters title">
        <div class="col-10 offset-1 col-md-4 offset-md-0 col-lg-4 offset-lg-0 col-xl-3 align-self-center">
            <h1 class="display-4 black-text animated fadeInLeft section-title" style="font-size:2.5rem;">Values</h1>
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-1 col-lg-7 offset-lg-0 col-xl-8 animated fadeInRight content">
            <br><br><br>
            <p class="text-center">THIS IS WHERE OUR LAB'S VALUES STATEMENT WILL BE</p>

            <br><br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
